html {
    font-size: 15px;
}

/* h2 {
    font-weight: 1.5rem;
    display: inline;
} */

p {
    font-size: 1rem;
}

input {
    font-size: 1rem;
}

input[type="password"] {
    color: red;
}

a {
    background-color: powderblue;
    transition: background-color .5s;
}

a:hover {
    background-color: gold;
}

a::after {
    content: "<-Link";
    font-size: .5rem;
}

.block {
    background: linear-gradient(to bottom,
            #1473e6,
            cubic-bezier(0.34, 1.56, 0.64, 1),
            #247b5e);
}

button {
    font-size: 1em;
    padding: .5em;
    border-radius: 1em;
    /* display: block; */
}

#email_input {
    padding: 1%;
}

/* input[type="submit"] {
    display: inline;
} */

div {
    padding: .5em;
}

form {
    font-size: 1rem;
}

textarea {
    display: block;
}